.ai-holder {
    z-index: 100;
    position: sticky;
    top: 0;
}

ai-chatbot {
    display: block;            
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    z-index: 100;
}

.messages-container {
    background: white;
}

.chat-container {
    background: white;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.content .btn {
    margin: 2rem auto;
    display: block;
    max-width: 80%;
}

.chat-section {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .ai-holder {
        /* height: 50vh; */
    }
}

@media only screen and (min-width: 768px) {
    .chat-section {
        display: flex; /* Enables flexbox layout */
        flex-direction: row-reverse;
    }
    
    .ai-holder, .content {
        flex: 1; /* Each child takes up equal space */
    }

    ai-chatbot {
        max-height: 85vh;
        position: sticky;
        top: 7.5vh;
        margin-left: 1rem;
    }
    
}

.message p {
    margin-top: 0 !important;
}

.blockquote {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

video, img {
    max-width: 90% !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}

video {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 2em auto;
}

.figure-caption {
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
}

pre.sourceCode {
    font-size: 0.8em;
}

.sourceCode .highlighted-line {
    background-color: #dafbe1;
    background-color: #fffa9d;
}

.sourceCode.diff .st {
    color: #82071e;
    background-color: #ffebe9;
}

img.browser {
    max-width: 100% !important;
}